<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Private Website | Kaisar Sudewo</title>
</head>
<body>
<nav>
<a href="index.js">Home</a>
<a href="download_cv">Download CV</a>
<a href="/contact">Contact</a>
<a href="/about">About Me</a>	
</nav>
<hr></hr>
<div>
<h1>About Me</h1>
<p>Hai, nama saya Kaisar Sudewo saya adalah mahasiswa semester 4 di Politeknik Negeri Lampung dengan Program Studi Manajemen Informatika.</p>
<p>Saya sedang belajar Pemrograman Web Framework dengan nodejs</p>
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HMNYrd0eCow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
</p>
</div>
<br>
<footer style="text-align: center;">
<p>Copyright &copy; 2022 | By Kaisar Sudewo </p>	
</footer>
</body>
</html>

