<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Private Website | Kaisar Sudewo</title>
</head>
<body>
<nav>
<a href="index.js">Home</a>
<a href="download_cv">Download CV</a>
<a href="/contact">Contact</a>
<a href="/about">About Me</a>	
</nav>
<hr></hr>
<div>
<h1>Contact Me</h1>
<form>
<label for="email">Email:</label>
<br>
<input type="text" name="email" placeholder="Masukkan alamat email disini...">
<br>
<label for="message">Pesan</label>
<br>
<textarea name="message" placeholder="Tuliskan pesan anda disini..." rows="4" cols="
80%"></textarea>
<br>
<input type="submit" name="kirim" value="Kirim">	
</form>	
</div>
<br>
<footer style="text-align: center;">
<p>Copyright &copy; 2022 | By Kaisar Sudewo </p>	
</footer>
</body>
</html>